:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


.hero-section {
  position: relative;
  height: 90vh;
  background-image: url('../../public/images/image2.jpg'); /* Replace with your actual path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}


button.navbar-toggler {
  background-color:white!important;
}


p {
  color: white;
}


h6 {
  color: white!important;
}


section.jsx-fef5bf5ce0b12372.welcome-section {
  background-color: #0a0a0a;
}

h2,h3{
  color:white!important;
}


h2.jsx-94340c8ad2f4e7dd.pmTitle {
  color: #000!important;
}


p.jsx-bb0c2fc25bd9737b {
  color: #000!important;
}

.product {
  border: none !important;
}



@media (max-width: 767.98px) {
  .logo {

    width: 90px!important;
    height:50px!important;
  
    }

    h1.jsx-fef5bf5ce0b12372.fw-bold.mb-3.welcome-homepahe {
      font-size: 1.7rem!important;
  }
}

@media (min-width: 1024px) {
  .logo {

  width: 192px!important;
  height: 85px!important;

  }
}

